html,body{height:100%;z-index:100;font-size:22px;font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 
#map-canvas{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  z-index:150;
}

#mainNav{
  z-index:200;
  background:url("/img/texture_back.jpg");
  opacity:.87;
}
.navbar-default #rightNav .navbar-nav  > li > a {
color: white;
}

.navbar-default #leftNav .navbar-nav  > li > a {
color:#AB1F2C;
}
.navbar-default #bottomNav .navbar-nav  > li > a {
color: white;
}

#rightNav{
  background:url("/img/red_background.jpg");


}
#leftNav{text-align: center!important;
  padding-top:15px;
  padding-bottom:15px;

}
#bottomNav{
  text-align: center!important;
  background:url("/img/red_background.jpg");
  color:white;
  padding-top:15px;
  padding-bottom:15px;
}
#topNav{}

.navbar-toggle {background-color:#AB1F2C;}
.navbar-default .navbar-toggle {
border-color: #4a3732;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B0122B;
}




@media (min-width: 768px) {
html,body{height:auto;z-index:100!important;} 
  .dropdown-menu{
    font-size:18px!important;
  }

  #mainNav{height:100%;box-shadow: 15px 15px 15px #888888;}

  #topNav{padding-bottom:15px;height:fill;}
  #bottomNav{
    min-height:400px;
  }


  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar
  {
    max-width:300px;
    margin-right: 0;
    margin-left: 0;
  } 

  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
    {float:none !important;}

  .navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }

  .navbar-nav > li > a{
    padding-top:15px;
    padding-bottom:0px;
  }



}

@media (max-width: 767px) {
  html,body{font-size:14px!important;}
  .navbar-header{
    opacity:1!important;
  }
  .navbar-collapse{
    padding-left:15px!important;
    padding-right:15px!important;
  }
  .dropdown-menu{
    font-size:14px!important;
  }

  #rightNav>ul>li>a{
 
  
  }
  
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 700px;
  }

  .navbar-nav > li > a{
    padding-top:0px;
    padding-bottom:0px;
  }
  .navbar-nav {
  margin-top:15px!important;
  }
  .navbar-collapse{
    padding-left:0px!important;
    padding-right:0px!important;
  }

}




.bmrrSouthCk{
  color:#692C00;
}
.eurekaMineCk{
  color:#FF5500;
}
.tciConnectorCk{
  color:#A7041F;
}
.mine13Ck{
  color:#8F0080;
}
.mine14Ck{
  color:#A9722F;
}
.smytheCk{
  color:#FF0305;
}
.ikeMastonCk{
  color:#00124C;
}
.songoCk{
  color:#FFAC03;
}
.reddingIshKoodaCk{
  color:#38B7B3;
}
.bmrrNorthCk{
  color:#004ED4;
}
