html,body{height:100%;z-index:100;font-size:10px;} 
#map-canvas{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  z-index:150;
}

#mainNav{
  z-index:200;
}

@media (min-width: 768px) {
html,body{height:100%;z-index:100;font-size:16px!important;} 
.dropdown-menu{
    font-size:16px!important;
  }

#mainNav{height:100%}

  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
  max-width:500px;
  margin-right: 0;
  margin-left: 0;
} 

  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
    {float:none !important;}

  .navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .navbar-collapse{
    padding-left:0px!important;
    padding-right:0px!important;
  }
  .dropdown-menu{
    font-size:10px!important;
  }

}




.bmrrSouthCk{
  color:#692C00;
}
.eurekaMineCk{
  color:#FF5500;
}
.tciConnectorCk{
  color:#A7041F;
}
.mine13Ck{
  color:#8F0080;
}
.mine14Ck{
  color:#A9722F;
}
.smytheCk{
  color:#FF0305;
}
.ikeMastonCk{
  color:#00124C;
}
.songoCk{
  color:#FFAC03;
}
.reddingIshKoodaCk{
  color:#38B7B3;
}
.bmrrNorthCk{
  color:#004ED4;
}
