html,body{height:100%;z-index:100;font-size:22px;font-family: 'Montserrat', sans-serif;
} 
#map-canvas{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  z-index:150;
}

#mainNav{
  z-index:200;
  background:url("/img/texture_back.jpg");
  opacity:.85;
}
.navbar-default #rightNav .navbar-nav  > li > a {
color: white;
}

.navbar-default #leftNav .navbar-nav  > li > a {
color:#AB1F2C;
}
.navbar-default #bottomNav .navbar-nav  > li > a {
color: white;
}

#rightNav{
  background:url("/img/red_background.jpg");


}
#leftNav{text-align: center!important;
  background:url("/img/red_background.jpg");
  padding-top:10px;
}
#bottomNav{
  text-align: center!important;
  background:url("/img/texture_back.jpg");
  color:#AB1F2C;
}
#topNav{}

.navbar-toggle {background-color:#AB1F2C;}
.navbar-default .navbar-toggle {
border-color: #4a3732;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B0122B;
}




@media (min-width: 768px) {
html,body{height:auto;z-index:100!important;} 
  .dropdown-menu{
    font-size:18px!important;
  }

  #mainNav{height:100%;box-shadow: 15px 15px 15px #888888;}

  #topNav{padding-bottom:15px;height:fill;}
  #bottomNav{
    min-height:400px;
    padding-top:15px;
    padding-bottom:15px;
  }
  .btn-rm{
    font-size:22px!important;
  }


  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar
  {
    max-width:370px;
    margin-right: 0;
    margin-left: 0;
  } 

  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
    {float:none !important;}

  .navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }

  .navbar-nav > li > a{
    padding-top:15px;
    padding-bottom:15px;
  }



}

@media (max-width: 767px) {
  html,body{font-size:14px!important;}
  .btn-group-justified {
  margin-left:0px!important;
  }

  .navbar-header{
    opacity:1!important;
  }

  .navbar-collapse{
    padding-left:0px!important;
    padding-right:0px!important;
  }

  .dropdown-menu{
    font-size:12px!important;
  }
  
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 700px;
  }

  .navbar-nav > li > a{
    padding-top:2.5px;
    padding-bottom:2.5px;
  }
  .navbar-nav {
  margin-top:0px!important;
  }
  .navbar-collapse{
    padding-left:0px!important;
    padding-right:0px!important;
  }
  .btn-rm{
    font-size:20px!important;
  }

  #leftNav{text-align: center!important;
  padding-top:20px;
  padding-bottom:20px;
}

  .navbar-nav {
  margin: 0px;
}
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 0px!important;
    padding-right:0px!important;
  }




}



@media (max-height: 481px) {
  .btn-rm{
    font-size:12px!important;
  }
  .navbar-nav > li > a{
    padding-top:1px;
    padding-bottom:1px;
  }

}









.bmrrSouthCk{
  color:#10FF65;
}
.eurekaMineCk{
  color:#FF5500;
}
.tciConnectorCk{
  color:#FFE499;
}
.mine13Ck{
  color:#A67EFF;
}
.mine14Ck{
  color:#A9722F;
}
.smytheCk{
  color:#FF0305;
}
.ikeMastonCk{
  color:#00124C;
}
.songoCk{
  color:#FFAC03;
}
.reddingIshKoodaCk{
  color:#38B7B3;
}
.bmrrNorthCk{
  color:#004ED4;
}
.homeClr{
  color:#F0A36D;
  } 
.infoClr {
  color:#CCCCCA;
}
.bookClr {
  color:#FF4600;
}
.treeClr{
  color:#6EC85B;
    } 
.usersClr{
  color:#44978C;
}
.carClr{
  color:#FF1910;
}
.markerClr{
  color:#F35048;
}

.btn-rm { 
  color: #FFFFFF; 
  background-color: #B0122B; 
  border-color: #3D060F; 
} 
 
.btn-rm:hover, 
.btn-rm:focus, 
.btn-rm:active, 
.btn-rm.active, 
.open .dropdown-toggle.btn-rm { 
  color: #FFFFFF; 
  background-color: #FC1A3E; 
  border-color: #3D060F; 
} 
 
.btn-rm:active, 
.btn-rm.active, 
.open .dropdown-toggle.btn-rm { 
  background-image: none; 
} 
 
.btn-rm.disabled, 
.btn-rm[disabled], 
fieldset[disabled] .btn-rm, 
.btn-rm.disabled:hover, 
.btn-rm[disabled]:hover, 
fieldset[disabled] .btn-rm:hover, 
.btn-rm.disabled:focus, 
.btn-rm[disabled]:focus, 
fieldset[disabled] .btn-rm:focus, 
.btn-rm.disabled:active, 
.btn-rm[disabled]:active, 
fieldset[disabled] .btn-rm:active, 
.btn-rm.disabled.active, 
.btn-rm[disabled].active, 
fieldset[disabled] .btn-rm.active { 
  background-color: #B0122B; 
  border-color: #3D060F; 
} 
 
.btn-rm .badge { 
  color: #B0122B; 
  background-color: #FFFFFF; 
}

